## 라이브러리 및 데이터 로드

In [4]:
import pandas as pd
import numpy as np

In [14]:
action_cloud=pd.read_csv('data/total_tokenized_words_actions_final.csv')
annimation_cloud=pd.read_csv('data/total_tokenized_words_animation_final.csv')
drama_cloud=pd.read_csv('data/final_words_df1.csv')
horror_cloud=pd.read_csv('data/final_words_df2.csv')
comedy_cloud=pd.read_csv('data/comedy_word.csv',encoding='cp949')
fantasy_cloud=pd.read_csv('data/fantasy_word.csv',encoding='cp949')
# commedy_cloud=pd.read_csv('data/final_words_df2.csv')
# sf_cloud=pd.read_csv('data/final_words_df2.csv')

In [15]:
period1_cloud=pd.read_csv('data/total_tokenized_words_2010_final.csv')
period2_cloud=pd.read_csv('data/2010_15_word.csv',encoding='cp949')
period3_cloud=pd.read_csv('data/final_words_df3.csv')

## 데이터 프레임 만들고 병합

(1) genre_cloud : 6 장르별 단어집합
(2) period_cloud : 3 시대별 단어집합

In [16]:
genre_cloud=pd.concat([action_cloud,annimation_cloud,drama_cloud,horror_cloud,comedy_cloud,fantasy_cloud],axis=1)

In [17]:
period_cloud=pd.concat([period1_cloud,period2_cloud,period3_cloud],axis=1)

## 데이터 프레임 전처리

In [18]:
cols1=['액션','애니메이션','드라마','호러','코미디','판타지']

In [19]:
genre_cloud.columns=cols1

In [32]:
genre_cloud.head(3)

    액션 애니메이션 드라마   호러  코미디 판타지
0  코로나    너무  오랜    여  그나마  의미
1   시대     재  나를  주인공    젤  하나
2  즐거움    있음   울   연기   재밋  하나

In [21]:
cols2=['기간1','기간2','기간3']

In [22]:
period_cloud.columns=cols2

In [26]:
genre_cloud.to_csv('genre_cloud.csv',index=False)

In [27]:
period_cloud.to_csv('period_cloud.csv',index=False)

In [31]:
genre_cloud.head(3)

    액션 애니메이션 드라마   호러  코미디 판타지
0  코로나    너무  오랜    여  그나마  의미
1   시대     재  나를  주인공    젤  하나
2  즐거움    있음   울   연기   재밋  하나

In [30]:
period_cloud.head(3)

  기간1 기간2   기간3
0   캬  송강  재밌었음
1   쭉   점    최고
2  펄팩  강동    추천